h1
{
 color:blue;
 font-family:caStellar;font-size:22pt;
 text-decoration:underline;
}
h2
{
 color:green;
 font-family:Chiller;font-size:18pt;
 text-decoration:overline;
}
p
{
 color:yellow;
 font-family:Trebuchet MS;font-size:14pt;
 font-style:italic;
}
